body {
  font-size: unset;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 0;
}
#main {
  width: 666px;
  margin: 20px auto;
  background-color: #f2f2f2;
  padding: 30px;
  box-shadow: 4px 4px 20px 6px #d4d4d4;
  border-radius: 6px;
  position: relative;
}

header h1 {
  text-align: center
}

h3 {
  margin: 0;
}

.hide {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 5px;
  list-style: none;
  border-bottom: 1px solid #dbdbdb;
}

input[type='text'] {
  outline: none;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  padding: 3px;
}

#saveP {
  text-align: center;
  padding: 10px 0;
}

#save {
  padding: 5px;
  width: 80px;
  border-radius: 3px;
  border: 1px solid #666;
  outline: none;
}

#saveRes {
  position: absolute;
  border-radius: 6px 6px 0 0;
  top: 0;
  left: 0;
  right: 0;
  max-height: 58px;
  overflow: hidden;
  text-align: center;
  transition: max-height 0.3s ease-out;
}

#saveRes.height-0 {
  max-height: 0;
}
#saveRes p {
  padding: 15px 0;
  background-color: #b6e6a6;
}
#saveRes p {
  text-align: center;
  margin: 0;

  font-size: 20px;
  color: #1c544c;
}

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

select {
  padding: 5px 40px 5px 9px;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  outline: none;
  display: block;
}

.select::after {
  border: 1px solid #00d1b2;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  transform: rotate(-45deg);
  width: 0.5em;
  margin-top: -0.375em;
  right: 1.125em;
  top: 50%;
  z-index: 4;
}

summary {
  font-size: 1.17em;
  font-weight: bold;
}

.ignore-sites {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  margin-bottom: 6px;
}

.ignore-sites li {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px 10px;
  background-color: aliceblue;
}
